@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .light {
        --color-primary: 0 0 0;
        --color-secondary: 255 255 255;
        --color-success: 16 185 129;
        --color-incorrect: 190 18 60;
        --color-extra: 136 19 55;
    }
    .dark {
        --color-primary: 255 255 255;
        --color-secondary: 0 0 0;
        --color-success: 16 185 129;
        --color-incorrect: 190 18 60;
        --color-extra: 136 19 55;
    }
}
/*
  Radix ui popups use `margin-right` to prevent overflow hidden from causing layout shift when popups come up.
  We want to use `margin-left` to prevent layout shift, so that it matches between overflow on 119 and no overflow on 1.
  So we need to override the margin-right with and set margin-left to 100vw (screen - gutter) - 100% (content width).
 */
html {
    margin-left: calc(100vw - 100%);
}
body[style] {
    margin: 0 auto !important;
}

/* focus-within is required because inputs have no content, and `:before` is prepended to content.*/
.svg-outline:focus-within *,
.svg-outline:focus,
.svg-outline-sm:focus-within *,
.svg-outline-sm:focus {
    @apply outline-none;
}

.svg-outline:focus:before,
.svg-outline:focus-within:before,
.svg-outline-sm:focus:before,
.svg-outline-sm:focus-within:before,
.svg-outline-xs:focus:before,
.svg-outline-xs:focus-within:before,
.svg-outline-stubby:focus:before,
.svg-outline-stubby:focus-within:before {
    @apply -inset-2;
    content: ' ';
    background-color: rgb(var(--color-primary));
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="black" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="black" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
    position: absolute;
}

.svg-outline-sm:focus:before,
.svg-outline-sm:focus-within:before {
    @apply -inset-1;
}

.svg-outline-xs:focus:before,
.svg-outline-xs:focus-within:before {
    @apply inset-0;
}

.svg-outline-stubby:focus:before,
.svg-outline-stubby:focus-within:before {
    @apply -bottom-0.5 -left-3 -right-3 -top-0.5;

    background-color: rgb(var(--color-primary));
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="var(--color-primary)" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="black" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
}

@media (prefers-color-scheme: dark) {
    .svg-outline:focus:before,
    .svg-outline:focus-within:before,
    .svg-outline-sm:focus:before,
    .svg-outline-sm:focus-within:before,
    .svg-outline-xs:focus:before,
    .svg-outline-xs:focus-within:before,
    .svg-outline-stubby:focus:before,
    .svg-outline-stubby:focus-within:before {
        background-color: rgb(var(--color-primary));
        -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="black" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
        mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" %3E%3Crect x="0" y="0" width="100%25" height="100%25" stroke-width="4" stroke="black" fill="transparent" stroke-dasharray="6 5" /%3E%3C/svg%3E');
    }
}

.hazard {
    border-image: repeating-linear-gradient(
            -80deg,
            white,
            white 10px,
            black 10px,
            black 20px
        )
        20;
}

.min-h-screen-1px {
    @apply min-h-[calc(100vh_-_1px)];
}

body {
    @apply bg-secondary;
}

/* if dark mode make scrollbar dark */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

.correct {
    @apply text-success;
}

.incorrect {
    @apply text-incorrect;
}

.extra {
    @apply text-extra;
}
