name: type_the_word
version: '3.8'

services:
    postgres:
        image: postgres:17.5-alpine
        environment:
            POSTGRES_DB: type_the_word
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_HOST_AUTH_METHOD: trust
            PGDATA: /var/lib/postgresql/data/pgdata
        ports:
            - 5435:5432
        volumes:
            - ./seed.sql:/docker-entrypoint-initdb.d/seed.sql
            - pgdata:/var/lib/postgresql/data
        restart: on-failure:3
    postgres-test:
        image: postgres:17.5-alpine
        environment:
            POSTGRES_DB: type_the_word_test
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_HOST_AUTH_METHOD: trust
            PGDATA: /var/lib/postgresql/data/pgdata_test
        ports:
            - 5436:5432
        volumes:
            - ./seed.sql:/docker-entrypoint-initdb.d/seed.sql
            - pgdata_test:/var/lib/postgresql/data
        restart: on-failure:3
volumes:
    pgdata:
    pgdata_test:
